<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href={% url 'home' %}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'about' %}>About</a>
    </li>
</ul>
<body>
    <h1>About this app</h1>
    <p>This app was created by <a href="http://houstoncallaway.com">Houston Callaway</a> as part of learning Django.</p>
</body>