<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href={% url 'home' %}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'about' %}>About</a>
    </li>
</ul>
<h1>Word Count</h1>
<br/>
<form action="{% url 'count' %}"">
    <textarea cols='80' rows='10' name='fulltext'></textarea>
    </br/>
    <button type="button" class="btn btn-lg btn-primary" type="submit">Count!</button>
</form>